/*  */
main header {
  padding: 0 1rem;
}

main .qr-type-container {
  display: inline-block;
  margin-right: 1.5rem;
  width: 50px;
  text-align: center;
}

main .qr-type-button {
  background: none;
  border: none;
  font-weight: bold;
  color: var(--textcolor);
  transition: color 0.3s;
}

main .active {
  color: var(--textcolor-active);
}

main .qr-type-button:hover {
  color: var(--textcolor-active);
}

main .qr-area {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
