html {
  min-height: 100vh;
}

body {
  font-family: "Roboto", "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #223143;
  height: 100%;
  margin: 0;
  padding: 0;
}
